@import "../Variables";

.project_card {
 background: rgba(255, 255, 255, 1);
 padding: 8rem;

 label {
  font-size: 11px;
 }

 mat-card-footer {
  .cancel {
   border: 1px solid rgba(236, 236, 236, 1) !important;
  }

  .primary {
   background: $main_color;
   border: 1px solid rgba(236, 236, 236, 1) !important;
  }
 }
}