$auth_card-bg: rgba(49, 89, 81, 0.9);
$sgin_up_card_bg: rgba(49, 74, 89, 0.9);
$main_color: rgba(239, 155, 40, 1);
$sec_color: rgb(255, 255, 255);
$geern_color: rgb(14, 56, 47);
$table_color: rgba(49, 89, 81, 0.9);
$ToDo: rgb(240, 114, 183);
$InProgress: rgb(54, 162, 235);
$Done: rgba(0, 146, 71, 1);