<section id="changePassword">
 <!--Start change Password  -->
 <div class="container">
  <div class="row justify-content-center p-5 align-items-center">
   <div class="col-md-10">
    <div class="Card sign_up_cared auth__card mt-3 text-capitalize">
     <div class="card-header ">
      <p class="m-0 Color">welcome to PMS</p>
      <h1 class="h3 Color">Change Password</h1>
     </div>
     <div class="card-body">
      <div class="">
       <form action="" class="example-form  text-capitalize" [formGroup]="ChangePasswordForm"
        (ngSubmit)="onChangePassword(ChangePasswordForm)">
        <div class="container row g-2">

         <!-- Old-Password -->
         <div class="col-md-12 mt4">
          <mat-form-field class="w-100 ">
           <mat-label class="lable">old Password</mat-label>
           <input formControlName="oldPassword" class="inp text-dark" matInput placeholder="Enter old password"
            [type]="hideOldPass ? 'password' : 'text'">
           <button type="button" class="bg-transparent" mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPass">
            <mat-icon class="text-success">{{hideOldPass ? 'visibility_off' :
             'visibility'}}
            </mat-icon>
           </button>
           <mat-error
            *ngIf="ChangePasswordForm.get('oldPassword')?.errors !== null && ChangePasswordForm.get('oldPassword')?.errors?.['required']">old
            Password
            is required
           </mat-error>
           <mat-error
            *ngIf="ChangePasswordForm.get('oldPassword')?.errors !== null && ChangePasswordForm.get('oldPassword')?.errors?.['pattern'] && ChangePasswordForm.get('oldPassword')?.value !== localPss">Password
            must contain at least one digit,one lowercase letter,one uppercase letter,one special character,
            and is at least 6 characters long.
           </mat-error>
          </mat-form-field>
         </div>
         <!-- New Password -->
         <div class="col-md-12 mt-4">
          <mat-form-field class="w-100 ">
           <mat-label class="lable">New Password</mat-label>
           <input formControlName="newPassword" class="inp text-dark" matInput placeholder="Enter New password"
            [type]="hideNewPass ? 'password' : 'text'">
           <button type="button" class="bg-transparent" mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass">
            <mat-icon class="text-success">{{hideNewPass ? 'visibility_off' :
             'visibility'}}
            </mat-icon>
           </button>
           <mat-error
            *ngIf="ChangePasswordForm.get('newPassword')?.errors !== null && ChangePasswordForm.get('newPassword')?.errors?.['required']">old
            Password
            is required
           </mat-error>
           <mat-error
            *ngIf="ChangePasswordForm.get('newPassword')?.errors !== null && ChangePasswordForm.get('newPassword')?.errors?.['pattern'] && ChangePasswordForm.get('newPassword')?.value !== localPss">Password
            must contain at least one digit,one lowercase letter,one uppercase letter,one special character,
            and is at least 6 characters long.
           </mat-error>
          </mat-form-field>
         </div>

         <!--Confirm New Password -->
         <div class="col-md-12 mt-4">
          <mat-form-field class="w-100 ">
           <mat-label class="lable">confirm New Password</mat-label>
           <input formControlName="confirmNewPassword" class="inp text-dark" matInput placeholder="Confirm New Password"
            [type]="hideConfirmPass ? 'password' : 'text'">
           <button type="button" class="bg-transparent" mat-icon-button matSuffix
            (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPass">
            <mat-icon class="text-success">{{hideConfirmPass ? 'visibility_off' :
             'visibility'}}
            </mat-icon>
           </button>
           <mat-error
            *ngIf="ChangePasswordForm.get('confirmNewPassword')?.errors !== null && ChangePasswordForm.get('confirmNewPassword')?.errors?.['required']">Password
            is required
           </mat-error>
           <mat-error
            *ngIf="ChangePasswordForm.get('confirmNewPassword')?.errors !== null && ChangePasswordForm.get('confirmNewPassword')?.errors?.['pattern'] && ChangePasswordForm.get('confirmNewPassword')?.value ">Password
            must contain at least one digit,one lowercase letter,one uppercase letter,one special character,
            and is at least 6 characters long.
           </mat-error>
          </mat-form-field>
         </div>
         <div class="d-flex justify-content-around align-items-center mt-3">
          <button type="submit" class="btn btn-warning w-50 rounded rounded-pill mt-2"
           [disabled]="ChangePasswordForm.invalid">
           <i *ngIf="isloading" class="fa-solid fa-spinner fa-spin-pulse"></i>
           Save
          </button>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- End ChangePasswordForm  -->

</section>